body{
    font-family: Helvetica;
     background-color: black;
     color: white
}

a {
   color: rgb(215, 0, 255);
}

a : :hover {
    color: #00AEFF;
}

header {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(63, 255, 0);
}

h1, h2 {
    font-family: serif;
}

header h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}
header nav ul li {
    display: inline;
}

p {
    font-size: 1.05em;
    line-height: 1.5;
}

.clear {
    clear: both;
}

#projects, #aboutme {
    margin: 0 auto;
    width: 99%;
    max-width: 700px;
}
.project{
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(63, 255, 0);
}

.project img, #aboutme img {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}


.project h2, #aboutme h2 {
    font-size: 1.7em;
    margin-bottom: 30px;
}
